body {
  margin: 0px 20px 0px 20px;
  color: #fdfeff;
  color: #a9adb8;
  background-color: #0a101e;
  overflow-x: hidden;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress {
  width: 100%;
  height: 8px;
}
.custom-container-hero {
  background-image: url(../images/Untitled.png);
  height: 930px;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  
}
.custom-container-hero  h1{
font-size: 400%;
}
.custom-section-header {
  padding: 0px;
}
.custom-container-content-hero {
  margin-top: 150px;
}

.custom-img-half-face-bg {
  height: 500px;
  
  opacity: 6;
}
.custom-img-half-face-bg img {
  opacity: 0.1;
}


/*Landing Image*/
.container {
  border-radius: 50%;
  width: 100%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}

.container:hover {
  transform: scale(0.54);
}
.custom-container-content-hero {
  width: 900px;
  height: 430px;
  padding: 55px;
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  
  border-radius: 50%;
  border: solid 15px #0a101e;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
/*------End Section Small Image*/

/* Button Download CV*/
.download-btn {
  border-radius: 4px;
  background-color: #fec544;
  border: none;
  border-radius: 50px;
  color: #070d1b;
  text-align: center;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

.download-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.download-btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 9px;
  right: -10px;
  transition: 0.5s;
}

.download-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
  transform: translateY(-5px);
  box-shadow: #fec544 0px 20px 20px -15px;
}

.download-btn:hover:after {
  opacity: 1;
  right: 10px;
}
.color-nav-bar {
  background-color:  #0a101e;
}

.custom-avatar{
  background-image:linear-gradient(90deg, rgba(11,25,38,1) 0%, rgba(46,58,80,1) 50%, rgba(11,25,38,1) 100%);
  object-fit: cover;
  position: relative;
border: solid 5px #617389;
width: 190px;
height: 190px;
border-radius: 50%;
top: 140px;

}
.custom-avatar img{
  left: -1px;
  position: absolute;
  object-fit: contain;
  width: 182px;
  height: 180px; 
  border-radius: 50%;
}
.custom-container-avatar{
margin-top: 100px;
}
.custom-container-icons{
  margin-top: 50px;
}
.custom-div-100px{
  height: 80px;
}
.custom-about-me{
  position: relative;
  opacity: 0.1;
  font-size: 600%;
  bottom: 70px;
  color: #617389;
}
/*-------End Button Download CV*/
#display-none{
  display:none;
}




/* Seccion Prueba */

/* Fin Seccion Prueba */

