:root {
  --bg-color: #0a101e;
  --warning-color: #fec544;
  --white-text-color: #fdfeff;
  --grey-text-color: #979ba6;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: var(--white-text-color);
}
@font-face {
  font-family: "blackSignature";
  src: url(../fonts/Black\ \ Signature.ttf);
}
@font-face {
  font-family: "doctor";
  src: url(../fonts/TheDoctor.ttf);
}
@font-face {
  font-family: "Groningen-Bold";
  src: url(../fonts/Groningen-Bold.ttf);
}
@font-face {
  font-family: "Groningen-Regular";
  src: url(../fonts/Groningen-Regular.ttf);
}
@font-face {
  font-family: "CassanemoPress";
  src: url(../fonts/CassanemoPress.ttf);
}
.water {
  font-family: "CassanemoPress";
}
.doctor {
  font-family: "doctor";
  font-size: 180%;
}

p,
li {
  font-family: "Groningen-Regular";
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Groningen-Bold";
}
.nav-link:hover {
  color: var(--warning-color);
}
.grey {
  color: var(--grey-text-color);
}
.bg-color {
  background-color: var(--bg-color);
}
/* Custom Container Picture Drops */
.custom-container-picture-drops {
  height: 930px;
  background-image: url(../images/Untitled.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.custom-container-picture-drops::after {
  position: absolute;
}
.custom-container-picture-drops p {
  color: var(--grey-text-color);
}
.custom-margin-water-container {
  bottom: 80px;
}

/* White text colors */
.white {
  color: var(--white-text-color);
}
/* Warning text color */
.warning {
  color: var(--warning-color);
}
/* Custom Nav Bar */
.custom-nav-bar {
  background-color: var(--bg-color);
}
/* Custom container Avatar */
.custom-container-avatar {
  margin-top: 320px;
}
.custom-avatar {
  background-image: linear-gradient(
    90deg,
    rgba(11, 25, 38, 1) 0%,
    rgba(46, 58, 80, 1) 50%,
    rgba(11, 25, 38, 1) 100%
  );
  object-fit: cover;
  position: relative;
  border: solid 5px #617389;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.custom-avatar img {
  left: -1px;
  position: absolute;
  object-fit: contain;
  width: 182px;
  height: 180px;
  border-radius: 50%;
}
/* Custom greetings */
.custom-greetings h1 {
  font-size: 400%;
  color: var(--white-text-color);
}
.custom-greetings span {
  color: var(--warning-color);
}
/* Custom Container Icons */
.custom-container-icons {
  margin-top: 40px;
}
/* Container Div */
.container-div {
  height: 60px;
}
/* Custom Text Title */
.custom-text-title {
  filter: opacity(0);
}
.shadow-text {
  font-size: 570%;
  color: var(--grey-text-color);
  bottom: 70px;
}

/* Btn Download CV */
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 10px 20px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: var(--warning-color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* About me section */
.custom-avatar-img-profile {
  height: 500px;
  margin-bottom: 30px;
}
.custom-container-about-me {
  margin: 0px 0px 0px 20px;
}
/* Custom Portfolio */
.custom-portfolio img,
.custom-movement-div {
  border-radius: 20px;
}

.custom-movement-div:hover {
  animation-duration: 0.8s;
  animation-name: movePortfolio;
  border: solid 0.5px #fec544;
  cursor: pointer;
}
.custom-movement-div section {
  animation: coming-soon 2s infinite;
}
.custom-movement-div h3 {
  color: #ff0f0f;
  margin-top: 140px;
  font-family: "Groningen-Bold";
}
.movement {
  animation-duration: 5s;
  animation-name: moveImg;
}
.movement1 {
  animation-duration: 5s;
  animation-name: moveDiv;
}
.movement2 {
  animation: 3s showDiv linear forwards;
}
.signature {
  position: absolute;
  font-family: "CassanemoPress";
  color: var(--warning-color);
  top: 8px;
  left: -18px;
  rotate: -25deg;
}
.liquid_shape {
  position: relative;
  background: linear-gradient(80deg, #369fb2 5%, #4d355c 100%);
  width: 50px;
  height: 50px;
  box-shadow: 0 0 20px #000;
  border-radius: 70% 40% 30% 70% / 60% 30% 70% 40%;
  animation: liquid 2.5s ease-in-out infinite;
  z-index: 2;
}
.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.custom-button {
  border: solid 2px #979ba6;
}
#paragraph {
  color: var(--white-text-color);
}
@keyframes coming-soon {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}
@keyframes showDiv {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0.8);
  }
}

@keyframes liquid {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 300% 150%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}
@keyframes movePortfolio {
  from {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes moveImg {
  from {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes moveDiv {
  from {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}

/* Test Field */

/* End Test Field */
@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 770px) {
  .custom-greetings h1 {
    font-size: 250%;
  }
  .custom-container-avatar {
    margin-top: 280px;
  }
  .shadow-text {
    font-size: 370%;
    bottom: 50px;
  }
  .custom-avatar-img-profile {
    margin-left: 15px;
  }

  .custom-avatar-img-profile {
    margin-bottom: 0px;
  }
  .custom-container-picture-drops {
    resolution: 1000;
  }
}

@media screen and (max-width: 540px) {
  .custom-responsive-icons {
    margin: 0px 20px 0px 20px;
  }
}
